.npbc-card {
  width: 18rem;
  min-height: 14rem;
  background: linear-gradient(145deg, #ffffff, #f3f6ff);
  border-radius: 1rem;
  transition: all 0.6s ease-in-out;
}

.npbc-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(13, 110, 253, 0.25);
  cursor: pointer;
}

.active-card {
  transform: scale(1.12);
  background: linear-gradient(145deg, #eaf2ff, #ffffff);
  box-shadow: 0 12px 30px rgba(13, 110, 253, 0.4);
  border-top: 4px solid #0d6efd;
}

.inactive-card {
  opacity: 0.8;
}

.npbc-carousel {
  transition: all 0.6s ease-in-out;
}

.npbc-image {
  border: 5px solid #0d6efd1a;
  box-shadow: 0 10px 25px rgba(13, 110, 253, 0.2);
}
