.dark {
  /* background-color: rgba(0, 0, 0); */
  background-color: #fff;
  /* color: #fff; */
  color: #000;
}

.active-card {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0, 123, 255, 0.3);
  border-top: 4px solid #0d6efd;
  background: linear-gradient(135deg, #ffffff, #e7f1ff);
  transition: all 0.5s ease-in-out;
}

.inactive-card {
  opacity: 0.7;
  background: #f8f9fa;
}

.fade-transition {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
