*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair', serif;
}
.calendar-body.fade-in {
  animation: fadeIn 0.3s ease-in;
}

.calendar-body.fade-out {
  animation: fadeOut 0.3s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(10px); }
}

@media (max-width: 600px) {
  .navbar-brand img{
    width: 100px;
    height: auto;
  }
  .hero-section {
    height: 80vh !important;
    background-position: center !important;
  }
  .cont h1 {
    padding: 10px !important;
    font-size: 2rem !important;
  }
  .cont p {
    padding: 10px !important;
    font-size: 16px !important;
  }
  .cont .row {
    padding: 0 10px !important;
  }
  .calendar-header, .calendar-body {
    padding: 10px;
  }

  .calendar-header button {
    padding: 5px 10px;
    font-size: 14px;
  }

  .calendar-day {
    height: 80px;
    font-size: 12px;
  }
  
}